<div id="blogs_content">

	<div id="header">
		<div class="btn-group btn-group-lg">
			<button class="btn btn-primary"><%= link_to "New Post", new_blog_path %></button>
		</div>
	</div>

	<% @blogs.each do |blog| %>
		<div class="post_wrapper">
			<h2 class="title"><%= link_to blog.title, blog %></h2>
			<p class="date"><%= blog.created_at.strftime("%B, %d, %Y") %></p>
		</div>
	<% end %>
	


</div>