<h1>New Post</h1>
	<%= form_for :post, url: blogs_path do |f| %>
		<p>
			<%= f.text_field :title, placeholder: 'Title' %><br>
		</p>
		<p>
			<%= f.text_area :body, placeholder: 'Description' %>
		</p>	
		<p>
			<%= f.submit %>
		</p>
	<% end %>	