<div class="footer"> 
	<div class="container"> 
		<ul <ul class="nav navbar-nav navbar-right"> 
			<li><a class="github" href="#">Github</a></li> 
			<li><a class="linkedin" href="#">Linkedin</a></li> 
			<li><a class="twitter" href="#">Twitter</a></li> 
			</ul> 
				<p>© 2015 Salman Akram</p>
	</div> 
</div>