<div class="footer"> 
	<div class="container"> 
		<ul <ul class="nav navbar-nav navbar-right"> 
			<li><a class="github" href="#"><i class="fa fa-github fa-2x"></i></a></li> 
			<li><a class="linkedin" href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li> 
			<li><a class="twitter" href="#"><i class="fa fa-twitter fa-2x"></i></a></li> 
			</ul> 
<!-- 			<p>© 2015 Salman Akram</p> -->
	</div> 
</div>