<div class= "header">
<header class="navbar navbar-fixed-top navbar-default menu">
  <div class="container">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
<!--           <li><span class="logo"><a href="#"><%= image_tag("thumb_sa_version2.png",:size => "50x50") %></a></span></li> -->
          <li class="list"><a href="#">Welcome</a></li>
          <li class="list"><a href="#">Portfolio</a></li>
          <li class="list"><a href="#">About</a></li>
      </ul>
    </div> 
  </div>
</div> 
</header>