<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <nav>
    <div class="nav navbar-nav navbar-left">
      <%= image_tag("thumb_sa_version2.png",:size => "65x65", class: "class-img" ) %>
    </div>
    </nav>
      <ul class="nav navbar-nav navbar-center">
        <li>Welcome</li>
        <li>Portfolio</li>
        <li>About</li>
      </ul>
  </div>
</header>