<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
          <li><span class="logo"><a href="#"><%= image_tag("thumb_sa_version2.png",:size => "50x50") %></a></span></li>
          <li class="active"><a href="#">Welcome</a></li>
          <li class="active"><a href="#">Portfolio</a></li>
          <li class="active"><a href="#">About</a></li>
      </ul>
  </div>
</header>