<ul class="portfolio_lists">

			<li><a href="#">
				<%= image_tag("rails1.jpg",:size => "300x300") %></a>
			</li>
<!-- 				<div><span>Rails App</div> -->
				</a>
			</li>

			<li><a href="#">
				<%= image_tag("rails2.jpg",:size => "300x300") %></a>
			</li>
<!-- 				<div><span>Rails App</div> -->
				</a>
			</li>			

			<li><a href="#">
				<%= image_tag("rails3.jpg",:size => "300x300") %></a>
			</li>
<!-- 				<div><span>Rails App</div> -->
				</a>
			</li>

			<li><a href="#">
				<%= image_tag("rails3.jpg",:size => "300x300") %></a>
			</li>
<!-- 				<div><span>Rails App</div> -->
				</a>
			</li>					

</ul>