<!-- <div class="port">
<div class="port-title"><h1 class="text-center">Portfolio</h1></div>
<div class="container">

	<div class="col-md-6">
		<%= image_tag("rails-1.jpg") %>
		<div class="movie-label"><h3>Movie App</h3></div>
			<div class="row">
			  <div class="col-md-1">Rails</div>
			  <div class="col-md-1">Ruby</div>
			  <div class="col-md-1">Devise</div>
				<div class="col-md-1">Bootstrap</div>	  
			</div>
		</div>

	<div class="col-md-6">
		<%= image_tag("rails-2.jpg") %>
		<h3>Movie App</h3>		
		<p>jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza</p>		
	</div>

	<div class="col-md-6">
		<%= image_tag("rails-3.jpg") %>
		<h3>Movie App</h3>
		<p>jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza</p>			
	</div>

	<div class="col-md-6">
		<%= image_tag("rails-4.jpg") %>
		<h3>Movie App</h3>
		<p>jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza</p>			
	</div> -->

</div>
</div>