<div class="main home">
	<div class="jumbotron">
		<div class="container"> 
			  <h2><span class="highlight"><i class="fa fa-cog fa-spin"></i> Salman Akram</span></h2>
			  <h3><span class="position_highlight">Junior Rails Developer</span></h3>
	<!-- 		  <a class="btn left" href="welcome">View my Work</a> -->
		</div>
	</div>	
</div>

