<header class="navbar navbar-fixed-top navbar-inverse">
<div class="header"> 
  <div class="container">
    <div class="name col-xs-4"> 
    	<h1>Salman Akram</h1> 
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Welcome",   'pages#welcome' %></li>
      </ul>
    </nav>
  </div>
</div> 
</header>
<div class="main home">
	<div class="jumbotron">
		<div class="container">
		  <h2>Hello.  My name is <span class="highlight">Salman Akram </span> and I have creative ideas and build websites</h2>
		  <a class="btn right" href="welcome">View my Work</a>
		</div>
	</div>
</div>
<div class="footer"> 
	<div class="container"> 
		<ul class="social_media"> 
			<li><a class="github" href="#">github</a></li> 
			<li><a class="linkedin" href="#">linkedin</a></li> 
			<li><a class="twitter" href="#">twitter</a></li> 
			</ul> <p>© 2015 Salman Akram</p> 
	</div> 
</div>
